<!DOCTYPE html>
<html lang="en">
<head>
  <title>Santa's Gifts</title>
  <meta name="description" content="AXA Node/test">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <h1>A letter to Santa</h1>
</header>
<main>
  <p class="bold">Ho ho ho, what do you want for Christmas?</p>
  <form id="wish-form">
    <label for="userid">Who are you?</label>
    <input type="text" id="userid" name="userid" placeholder="charlie.brown" />

    <label for="wish">What do you want for Christmas?</label>
    <textarea id="wish" name="wish" rows="10" cols="45" maxlength="100" placeholder="Gifts!"></textarea>

    <br/>
    <button type="submit" id="submit-letter">Send</button>
  </form>
</main>
<footer>
  Made with <a href="https://glitch.com">Glitch</a>!
</footer>

<!-- JavaScript Imports -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" async></script>
<script src="/bundle.js"></script>
<script src="https://button.glitch.me/button.js" async></script>
</body>
</html>
